@import "../../styles/Extensions";

.modal-container {
  z-index: 1000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  @include backdrop-filter(blur(6px) brightness(0.8));

  .modal-content {
    max-height: 80vh;
    max-width: 95vw;
    padding: 0 20px;
    position: relative;
    border: 1px solid;
    border-radius: 6px;
    @include box-shadow(0 2px 2px 0 rgba(0, 0, 0, 0.5));

    & > * {
      padding: 9px 20px;
    }

    .modal-header {
      padding: 9px 20px;
      @include columnGap(5px);
    }

    .modal-body {
      overflow-y: auto;
      border-top: solid 1px;
    }

    .modal-footer {
      border-top: solid 1px;

      & > .btn-pr {
        width: 180px;
        height: 45px;
      }
    }
  }
}
