@import "../../styles/Extensions";

@mixin showSpan {
  display: block;
  opacity: 1;
  -moz-opacity: 1;
}

.btn-nav {
  color: $black;
  outline: none;
  background: transparent;
  text-decoration: none !important;
  box-sizing: content-box;
  @include flex;
  @include flex-center;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-nav:hover + span {
  @include showSpan;
}

.btn-nav:active + span {
  @include showSpan;
}

.btn-nav:focus + span {
  @include showSpan;
}

.btn-nav:focus-visible + span {
  @include showSpan;
}

.btn-nav:-moz-focusring + span {
  @include showSpan;
}

.btn-nav + span {
  display: block;
  width: 100%;
  height: 3px;
  opacity: 0;
  -moz-opacity: 0;
  background: $black;
  @include border-radius(20px);
  @include transition(0.4);
}
