@import "../../styles/Extensions";

.btn-sec {
  background: $white;
  border: 1px inset rgba(0, 0, 0, 0.7);

  &.icon-tooltip {
    border-left: none;
  }

  &:hover {
    background: $light-theme-secondary;
  }

  &:active {
    background: $light-theme-secondary;
  }

  &:focus {
    background: $light-theme-secondary;
  }

  &:focus-visible {
    background: $light-theme-secondary;
  }

  &:-moz-focusring {
    background: $light-theme-secondary;
  }

  &.active {
    background: $light-theme-secondary;
  }
}
