@import "../../styles/Extensions";

.menu {
  top: 0;
  right: 0;
  height: 100vh;
  position: fixed;
  //padding-top: 40px;
  //padding-inline: 20px;
  overflow-x: hidden;
  overflow-x: -moz-hidden-unscrollable;
  -ms-overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-y: auto;
  z-index: 1000;
  background: $light-theme-layout;
  @include transition(0.3);
  @include transform-origin(0 0);
  @include transform(translateX(100%));
  @include pageMainPartShadow;

  ul {
    row-gap: calc(#{$standard} * 8);
  }
}

.show-menu {
  @include transform(translateX(0));
}

.hide-menu {
  @include transform(translateX(100%));
}

@media only screen and (min-width: 481px) and (max-width: 599px) {
  .menu {
    width: 60vw;

    &-item {
      width: 45vw;
    }

    &-item > * {
      height: 50px;
    }
  }
}

@media only screen and (max-width: 480px) {
  .menu {
    width: 100vw;

    &-item {
      width: 60vw;
    }

    &-item > * {
      height: 40px;
    }
  }
}
