@import "../../styles/Extensions";

.login-page {
  grid-template-rows: auto 200px;
  grid-template-columns: 100%;
  place-items: center;
  padding-block: 100px;

  .card {
    grid-template-rows: 80px 500px;
    @include border-radius(15px);
  }

  .button-con {
    row-gap: 30px;

    & > button {
      width: 191px;
      height: 46px;
    }
  }

  .google {
    background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_tahcwn.png");
    -webkit-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_tahcwn.png");
    -moz-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_tahcwn.png");
    -o-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_tahcwn.png");
    background-size: contain;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    cursor: pointer;

    &:active {
      background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_active_ioubb4.png");
      -webkit-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_active_ioubb4.png");
      -moz-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_active_ioubb4.png");
      -o-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_active_ioubb4.png");
    }

    &:focus {
      background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_focus_cdw5m7.png");
      -webkit-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_focus_cdw5m7.png");
      -moz-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_focus_cdw5m7.png");
      -o-background-image: url("https://res.cloudinary.com/gachi322/image/upload/v1628535189/chatty/google_focus_cdw5m7.png");
    }
  }

  .b-b {
    grid-area: 2/1/3/2;
    row-gap: 20px;

    button {
      all: unset;
      cursor: pointer;

      &:hover {
        text-decoration: underline;
      }

      &:active {
        text-decoration: underline;
      }

      &:focus {
        text-decoration: underline;
      }

      &:focus-visible {
        text-decoration: underline;
      }

      &:-moz-focusring {
        text-decoration: underline;
      }
    }
  }
}

@media only screen and (min-width: 769px) {
  .login-page .card {
    grid-template-columns: 500px;
    padding: 20px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .login-page .card {
    grid-template-columns: 400px;
    padding: 20px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .login-page .card {
    grid-template-columns: 300px;
    padding: 8px;
  }
}

@media only screen and (max-width: 320px) {
  .login-page .card {
    grid-template-columns: 300px;
    padding: 5px;
  }
}
