button:focus-within,
button:focus,
button:active {
    outline: none;
}

.btn-su,
.btn-w,
.btn-e {
    display: flex;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    align-items: center;
    justify-content: center;
    outline: none;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
}

.btn-r {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
}

.btn-rem {
    background: transparent;
}

.btn-rem:hover {
    background: #d0343c;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-rem:hover > svg {
    fill: #ffffff;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-rem:focus {
    background: #d0343c;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-rem:focus > svg {
    fill: #ffffff;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-rem:focus-visible {
    background: #d0343c;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-rem:focus-visible > svg {
    fill: #ffffff;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-rem:-moz-focusring {
    background: #d0343c;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-rem:-moz-focusring > svg {
    fill: #ffffff;
    transition: all 0.4s ease-in-out !important;
    -webkit-transition: all 0.4s ease-in-out !important;
    -moz-transition: all 0.4s ease-in-out !important;
    -ms-transition: all 0.4s ease-in-out !important;
    -o-transition: all 0.4s ease-in-out !important;
}

.btn-su {
    color: #000000;
    background: #25b84c;
}

.btn-su:hover {
    background: #5dd07c;
}

.btn-su:active {
    background: #95e8ab;
}

.btn-su:focus {
    background: #168734;
}

.btn-su:focus-visible {
    background: #168734;
}

.btn-su:-moz-focusring {
    background: #168734;
}

.btn-su:disabled {
    background: #25b84c;
    opacity: 0.5;
}

.btn-w {
    color: #000000;
    background: #ddb814;
}

.btn-w:hover {
    color: #000000;
    background: #eec71c;
}

.btn-w:active {
    color: #000000;
    background: #f0d458;
}

.btn-w:focus {
    background: #c8a919;
}

.btn-w:focus-visible {
    background: #c8a919;
}

.btn-w:-moz-focusring {
    background: #c8a919;
}

.btn-w:disabled {
    background: #ddb814;
    opacity: 0.5;
}

.btn-e {
    color: #ffffff;
    background: #d0343c;
}

.btn-e:hover {
    color: #000000;
    background: #fa6e75;
}

.btn-e:active {
    color: #000000;
    background: #fa6e75;
}

.btn-e:focus {
    background: #c11c24;
    box-shadow: 0 0 4px 8px #4e2210;
    -webkit-box-shadow: 0 0 4px 8px #4e2210;
    -moz-box-shadow: 0 0 4px 8px #4e2210;
    -o-box-shadow: 0 0 4px 8px #4e2210;
}

.btn-e:focus-visible {
    background: #c11c24;
    box-shadow: 0 0 4px 8px #4e2210;
    -webkit-box-shadow: 0 0 4px 8px #4e2210;
    -moz-box-shadow: 0 0 4px 8px #4e2210;
    -o-box-shadow: 0 0 4px 8px #4e2210;
}

.btn-e:-moz-focusring {
    background: #c11c24;
    box-shadow: 0 0 4px 8px #4e2210;
    -webkit-box-shadow: 0 0 4px 8px #4e2210;
    -moz-box-shadow: 0 0 4px 8px #4e2210;
    -o-box-shadow: 0 0 4px 8px #4e2210;
}

.btn-e:disabled {
    background: #d0343c;
    color: #000000;
    opacity: 0.5;
}

@media only screen and (min-width: 1200px) {
    .btn-i {
        width: 48px;
        height: 48px;
    }

    .btn-i-f {
        width: 40px;
        height: 40px;
    }

    .btn-i-d {
        width: 52px;
        height: 52px;
    }

    .btn-sm {
        width: 180px;
        height: 40px;
    }

    .btn-sm-x-w {
        width: 200px;
        height: 60px;
    }

    .btn-sm-a-w {
        height: 60px;
        padding: 10px;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .btn-l {
        width: 180px;
        height: 80px;
    }

    .btn-l-x-w {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .btn-i {
        width: 45px;
        height: 45px;
    }

    .btn-i-f {
        width: 38px;
        height: 38px;
    }

    .btn-i-d {
        width: 49px;
        height: 49px;
    }

    .btn-sm {
        width: 180px;
        height: 40px;
    }

    .btn-sm-x-w {
        width: 200px;
        height: 60px;
    }

    .btn-sm-a-w {
        height: 57px;
        padding: 9px;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .btn-l {
        width: 170px;
        height: 76px;
    }

    .btn-l-x-w {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
    .btn-i {
        width: 42px;
        height: 42px;
    }

    .btn-i-f {
        width: 36px;
        height: 36px;
    }

    .btn-i-d {
        width: 46px;
        height: 46px;
    }

    .btn-sm {
        width: 180px;
        height: 40px;
    }

    .btn-sm-x-w {
        width: 200px;
        height: 60px;
    }

    .btn-sm-a-w {
        height: 54px;
        padding: 10px;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .btn-l {
        width: 160px;
        height: 72px;
    }

    .btn-l-x-w {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (max-width: 768px) {
    .btn-i {
        width: 39px;
        height: 39px;
    }

    .btn-i-f {
        width: 34px;
        height: 34px;
    }

    .btn-i-d {
        width: 43px;
        height: 43px;
    }

    .btn-sm {
        width: 180px;
        height: 40px;
    }

    .btn-sm-x-w {
        width: 200px;
        height: 60px;
    }

    .btn-sm-a-w {
        height: 51px;
        padding: 7px;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .btn-l {
        width: 150px;
        height: 68px;
    }

    .btn-l-x-w {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (max-width: 480px) {
    .btn-i {
        width: 36px;
        height: 36px;
    }

    .btn-i-f {
        width: 32px;
        height: 32px;
    }

    .btn-i-d {
        width: 40px;
        height: 40px;
    }

    .btn-sm {
        width: 180px;
        height: 40px;
    }

    .btn-sm-x-w {
        width: 200px;
        height: 60px;
    }

    .btn-sm-a-w {
        height: 48px;
        padding: 10px;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .btn-l {
        width: 146px;
        height: 64px;
    }

    .btn-l-x-w {
        width: 200px;
        height: 60px;
    }
}

@media only screen and (max-width: 320px) {
    .btn-i {
        width: 33px;
        height: 33px;
    }

    .btn-i-f {
        width: 30px;
        height: 30px;
    }

    .btn-i-d {
        width: 37px;
        height: 37px;
    }

    .btn-sm {
        width: 180px;
        height: 40px;
    }

    .btn-sm-x-w {
        width: 200px;
        height: 60px;
    }

    .btn-sm-a-w {
        height: 45px;
        padding: 10px;
        flex-flow: column nowrap;
        -webkit-flex-flow: column nowrap;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }

    .btn-l {
        width: 130px;
        height: 60px;
    }

    .btn-l-x-w {
        width: 200px;
        height: 60px;
    }
}

/*# sourceMappingURL=Button.css.map */
