@import "../../styles/Extensions";

@mixin showSpan {
  width: 90%;
  display: block;
  opacity: 1;
  -moz-opacity: 1;
  align-self: center;
  -webkit-align-self: center;
}

@mixin showSpanFooter {
  width: 160px;
  display: block;
  opacity: 1;
  -moz-opacity: 1;
}

@mixin showSpanSmall {
  width: 120px;
  display: block;
  opacity: 1;
  -moz-opacity: 1;
}

.btn-nav {
  outline: none;
  background: transparent;
  text-decoration: none !important;
  box-sizing: content-box;
  @include flex;
  @include flex-center;

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.ftr {
    &:hover + span {
      @include showSpanFooter;
    }

    &:active + span {
      @include showSpanFooter;
    }

    &:focus + span {
      @include showSpanFooter;
    }

    &:focus-visible + span {
      @include showSpanFooter;
    }

    &:-moz-focusring + span {
      @include showSpanFooter;
    }

    & + span.active-link {
      min-width: 140px;
      max-width: 160px;
    }
  }

  &:hover + span {
    @include showSpan;
  }

  &:active + span {
    @include showSpan;
  }

  &:focus + span {
    @include showSpan;
  }

  &:focus-visible + span {
    @include showSpan;
  }

  &:-moz-focusring + span {
    @include showSpan;
  }

  & + span {
    display: block;
    width: 100%;
    height: 3px;
    opacity: 0;
    -moz-opacity: 0;
    @include border-radius(20px);
    @include transition(0.4);
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .btn-nav.ftr {
    &.active-link {
      width: 120px;
    }

    &:hover + span {
      @include showSpanSmall;
    }

    &:active + span {
      @include showSpanSmall;
    }

    &:focus + span {
      @include showSpanSmall;
    }

    &:focus-visible + span {
      @include showSpanSmall;
    }

    &:-moz-focusring + span {
      @include showSpanSmall;
    }
  }
}
