@font-face {
  font-family: "Nunito";
  src: local("Nunito-Black"), url(https://chatizze.herokuapp.com/fonts/Nunito-Black.woff2) format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-SemiBold"), url(https://chatizze.herokuapp.com/fonts/Nunito-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-Light"), url(https://chatizze.herokuapp.com/fonts/Nunito-Light.woff2) format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito-LightItalic"), url(https://chatizze.herokuapp.com/fonts/Nunito-LightItalic.woff2) format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}

.menu ::-webkit-scrollbar-thumb,
.user-menu ::-webkit-scrollbar-thumb,
.chat-list ::-webkit-scrollbar-thumb {
  width: 5px !important;
}
.menu ::-webkit-scrollbar,
.user-menu ::-webkit-scrollbar,
.chat-list ::-webkit-scrollbar {
  width: 5px !important;
}

p,
blockquote {
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.flex {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
}

.grid {
  display: grid;
  display: -moz-grid;
  display: -ms-grid;
}

.a-i-c {
  align-items: center;
  -webkit-align-items: center;
}

.a-i-f-s {
  align-items: flex-start;
  -webkit-align-items: flex-start;
}

.a-i-f-e {
  align-items: flex-end;
  -webkit-align-items: flex-end;
}

.a-s-c {
  align-self: center;
  -webkit-align-self: center;
}

.a-s-f-s {
  align-self: flex-start;
  -webkit-align-self: flex-start;
}

.a-s-f-e {
  align-self: flex-end;
  -webkit-align-self: flex-end;
}

.j-c-c {
  justify-content: center;
  -webkit-justify-content: center;
}

.j-c-f-s {
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.j-c-f-e {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.j-c-s-a {
  justify-content: space-around;
  -webkit-justify-content: space-around;
}

.j-c-s-b {
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.j-s-c {
  justify-self: center;
}

.j-s-s {
  justify-self: start;
}

.j-s-e {
  justify-self: end;
}

.f-f-c-n {
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
}

.f-f-c-w {
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
}

.f-f-r-n {
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
}

.f-f-r-w {
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
}

.t-c {
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.t-l {
  text-align: left;
  text-align: -webkit-left;
  text-align: -moz-left;
}

.t-r {
  text-align: right;
  text-align: -webkit-right;
  text-align: -moz-right;
}

.t-j {
  text-align: justify;
}

.dropdown-toggle.tel {
  border-radius: 8px 0 0 8px;
  -webkit-border-radius: 8px 0 0 8px;
  -moz-border-radius: 8px 0 0 8px;
}

.dropdown-toggle,
.dropdown-toggle:focus,
.dropdown-toggle:-moz-focusring {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
}

.n-p {
  padding: 0 !important;
}

.n-m {
  margin: 0 !important;
}

*:disabled {
  cursor: not-allowed;
}

.block-scroll {
  overflow: hidden;
  overflow: -moz-hidden-unscrollable;
}

[class^="btn"] {
  cursor: pointer;
}

.hidden {
  visibility: hidden;
}

::-webkit-scrollbar-thumb {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  background-clip: padding-box;
  -moz-background-clip: padding;
  -webkit-background-clip: padding;
}

::-webkit-scrollbar-track {
  border-left: 1px solid;
}

img {
  vertical-align: unset;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.page {
  grid-area: 2/2/3/3;
}

.it {
  font-style: italic;
}

.f-w__300 {
  font-weight: 300 !important;
}
.f-w__600 {
  font-weight: 600 !important;
}
.f-w__900 {
  font-weight: 900 !important;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif !important;
  overflow-x: -moz-hidden-unscrollable;
  overflow-x: hidden;
  -ms-overflow-x: hidden;
  font-size: 20px;
  line-height: 1.5;
  word-spacing: 0.16px;
  letter-spacing: 0.12px;
}

input,
textarea {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.crossed {
  text-decoration: line-through;
  text-decoration-thickness: 2px;
}

.dropdown-toggle::after {
  content: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
.h1-s {
  font-size: 2em !important;
  font-weight: 900;
}

h2,
.h2-s {
  font-size: 1.6em !important;
  font-weight: 900;
}

h3,
.h3-s {
  font-size: 1.4em !important;
  font-weight: 600;
}

h4,
.h4-s {
  font-size: 1.2em !important;
  font-weight: 600;
}

h5,
.h5-s {
  font-size: 1.1em !important;
  font-weight: 600;
}

h6,
.h6-s {
  font-size: 0.9em !important;
  font-weight: 300;
}

.copyright {
  font-size: 0.7em !important;
  font-weight: 300;
}

.helper {
  font-size: 0.8em !important;
  font-weight: 300;
}

a,
button {
  transition: all 400ms ease-in-out;
  border: none;
  padding: 0;
  text-align: center;
  text-align: -webkit-center;
  text-align: -moz-center;
  font-family: "Nunito", sans-serif;
}

*,
*:focus,
*:active {
  outline: none;
}

.none {
  display: none !important;
}

.f-h {
  height: 100%;
}

.f-w {
  width: 100%;
}

#root {
  width: 100%;
  height: 100vh;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.dropdown-menu {
  z-index: 0;
}

.nav,
h1,
h2,
h3,
h4,
h5,
h6,
.footer {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

@media only screen and (min-width: 1400px) {
  main {
    grid-area: 2/2/3/3;
  }
}
@media only screen and (max-width: 1399px) {
  main {
    grid-area: 2/1/3/2;
  }
}
@media only screen and (min-width: 1200px) {
  ::-webkit-scrollbar-thumb {
    width: 8px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  ::-webkit-scrollbar-thumb {
    width: 8px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
}
@media only screen and (min-width: 769px) and (max-width: 991px) {
  ::-webkit-scrollbar-thumb {
    width: 8px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  ::-webkit-scrollbar-thumb {
    width: 8px;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }
}
@media only screen and (min-width: 321px) and (max-width: 480px) {
  ::-webkit-scrollbar-thumb {
    width: 7px;
  }

  ::-webkit-scrollbar {
    width: 7px;
  }
}
@media only screen and (max-width: 320px) {
  ::-webkit-scrollbar-thumb {
    width: 6px;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
}

/*# sourceMappingURL=index.css.map */
