@import "../../styles/Extensions";

.contact-page {
  grid-template-rows: 120px minmax(10px, 1fr) 120px;
  grid-template-columns: minmax(10px, 1fr);
  row-gap: 40px;
  padding-inline: 20px;
  padding-block: 40px;

  & > .t-b {
    row-gap: 10px;
  }

  & > .m-b {
    row-gap: 40px;

    .subj {
      row-gap: 20px;
    }

    form {
      min-width: 280px;
      max-width: 450px;
      row-gap: 30px;

      .subject {
        position: relative;

        & + .dropdown {
          top: 400px;
        }
      }

      .ta-r,
      textarea {
        width: 100%;
      }

      textarea {
        resize: none;
        height: 200px;
        padding: 6px;
        margin: 0;
        cursor: text;
        appearance: auto;
        text-rendering: auto;
        display: inline-block;
        -webkit-rtl-ordering: logical;
        writing-mode: horizontal-tb !important;
        -webkit-writing-mode: horizontal-tb !important;
        -ms-writing-mode: tb !important;
        column-count: initial !important;
        overflow: hidden;
        overflow: -moz-hidden-unscrollable;
        @include border-radius(10px);
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
}

@media only screen and (max-width: 320px) {
}
