@import "../../../styles/Extensions";

.d-t {
  position: relative;
}

.d-m {
  @include pageMainPartShadow;
  position: absolute;
  padding-block: 8px;
  background: $tertiary-200;
  @include border-radius(4px);

  .d-i {
    margin-block: 4px;
  }
}

@media only screen and (min-width: 1400px) {
  .d-m {
    width: 60px;
    top: 116px;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {
  .d-m {
    width: 60px;
    top: 115px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .d-m {
    width: 57px;
    top: 112px;
    padding-block: 8px;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .d-m {
    width: 54px;
    top: 109px;
    margin-top: -1px;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .d-m {
    width: 51px;
    top: 106px;
    margin-top: -5px;
  }
}

@media only screen and (min-width: 321px) and (max-width: 480px) {
  .d-m {
    width: 48px;
    top: 103px;
    margin-top: -8px;
  }
}

@media only screen and (max-width: 320px) {
  .d-m {
    width: 45px;
    top: 100px;
    margin-top: -17px;
  }
}
