@import "../../styles/Extensions";

.footer {
  grid-template-rows: 270px 40px;
  grid-template-columns: minmax(10px, 1fr);
  background: $light-theme-secondary;
  @include pageMainPartShadow;

  &-t,
  &-b {
    padding-inline: $mainPadding;
  }

  & > &-t {
    grid-area: 1/1/2/2;
    grid-template-columns: repeat(2, 200px);
    grid-column-gap: calc(#{$standard} * 8);
    padding-block: calc(#{$standard} * 5);

    h2 {
      color: $black;
    }

    .legal,
    .help {
      grid-template-columns: minmax(10px, 1fr);
      grid-template-rows: 60px minmax(10px, 1fr);

      h2 {
        grid-area: 1/1/2/2;
      }

      .l-l {
        grid-area: 2/1/5/2;

        & > li {
          @include avaWidth;

          a {
            @include textLeft;
            @include justify-content(flex-start);
          }
        }
      }
    }

    .legal {
      grid-area: 1/1/2/2;
    }

    .help {
      grid-area: 1/2/2/3;
    }
  }

  & > &-b {
    grid-area: 2/1/3/2;
    color: $white;
    background: $light-theme-primary;
  }
}

@media only screen and (min-width: 1400px) {
  .footer {
    grid-area: 3/2/4/3;
  }
}

@media only screen and (max-width: 1399px) {
  .footer {
    grid-area: 3/1/4/2;
  }
}

@media only screen and (max-width: 480px) {
  .footer {
    grid-template-rows: 460px 40px;

    & > &-t {
      grid-template-rows: repeat(2, minmax(10px, 1fr));
      grid-template-columns: minmax(10px, 1fr);

      .legal {
        grid-area: 1/1/2/2;
      }

      .help {
        grid-area: 2/1/3/2;
      }

      .legal,
      .help {
        grid-template-rows: 60px minmax(10px, 1fr);
      }
    }
  }
}
