@import "../../styles/Extensions";

.ov-c {
  position: relative;

  &:hover .ov {
    opacity: 1;
  }

  & > .ov {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0;
    padding: 1rem;
    @include transition(1);

    & > p, span, h1, h2, h3, h4, h5, h6 {
      color: $white !important;
      @include textCenter;
      margin: 1rem;
    }
  }
}
