@import "../../styles/Extensions";

.nav {
  grid-template-rows: 40px 90px;
  grid-template-columns: minmax(10px, 1fr);
  margin: auto;
  z-index: 901;
  top: 0;
  position: sticky;
  @include box-shadow(0 2px 8px rgba(0, 0, 0, 0.25));
  @include transition(0.25);

  &-t {
    grid-area: 1/1/2/2;
    grid-template-columns: repeat(2, 200px);
    grid-gap: calc(#{$standard} * 4);
  }

  &-b {
    grid-area: 2/1/3/2;
    grid-template-rows: minmax(10px, 1fr);
    @include columnGap(5px);

    .nav-l-r {
      grid-area: 1/1/2/2;
    }

    .nav-r-r ul {
      column-gap: calc(#{$standard} * 2);
    }
  }
}

.hideNavTop {
  @include transform(translateY(-40px));
}

.showNavTop {
  @include transform(translateY(0px));
}

@media only screen and (min-width: 769px) {
  .nav-r-r {
    grid-area: 1/3/2/4;
  }
}

@media only screen and (max-width: 768px) {
  .nav-r-r {
    grid-area: 1/2/2/3;
  }
}

@media only screen and (min-width: 1400px) {
  .nav {
    grid-area: 1/2/2/3;
    width: 1400px;
    left: calc((100% - 1400px) / 2);
  }
}

@media only screen and (max-width: 1399px) {
  .nav {
    grid-area: 1/1/2/2;
    width: 100%;
    left: 0;
  }
}

@media only screen and (min-width: 992px) {
  .nav-b {
    grid-template-columns: 620px minmax(10px, 1fr) 290px;
    padding-inline: $mainPadding;
  }
}

@media only screen and (min-width: 769px) and (max-width: 991px) {
  .nav-b {
    grid-template-columns: 460px minmax(10px, 1fr) 260px;
    padding-inline: calc(#{$standard} * 4);
  }
}

@media only screen and (min-width: 601px) and (max-width: 768px) {
  .nav-b {
    grid-template-columns: minmax(10px, 1fr);
    padding-inline: 20px;
  }
}

@media only screen and (min-width: 361px) and (max-width: 600px) {
  .nav-b {
    grid-template-columns: 200px minmax(10px, 1fr);
    padding-inline: 15px;
  }
}

@media only screen and (max-width: 360px) {
  .nav-b {
    grid-template-columns: 150px minmax(10px, 1fr);
    padding-inline: 10px;
  }
}
