@import "../../styles/Extensions";

a {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
  }

  &:focus {
    text-decoration: underline;
  }

  &:focus-visible {
    text-decoration: underline;
  }

  &:-moz-focusring {
    text-decoration: underline;
  }

  &:focus-within {
    text-decoration: underline;
  }

  &:disabled {
    text-decoration: none;
  }
}

.link {
  &:focus-within {
    outline: none;
  }
}

.skip-link {
  transform: translateY(-100%);
  opacity: 0;

  &:focus {
    transform: translateY(0);
    opacity: 1;
  }

  &:focus-visible {
    transform: translateY(0);
    opacity: 1;
  }

  &:-moz-focusring {
    transform: translateY(0);
    opacity: 1;
  }
}
